.navbar {
    font-family: "Nunito Sans";
    font-size: 18px;
}
.navbar-custom {
    background-color: #340634;
}

.navbar-brand span{
    background: -webkit-linear-gradient(#ffffff, #6b556b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
    font-weight: bold;
}

.navbar-brand a {
    font-family: "Algerian";
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
    border-color: rgb(255,102,203);
}

.button-submit{
    border: none;
    padding: 6px 30px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    font-size: 17px;
}

.button2-submit {
    background-color: #ffffff;
    color: #6b556b;
    font-weight: bold;
    border: 2px solid #ffffff;
}

.button2-submit:hover {
    background-color: #882e88;
    color: #ffffff;
    border: 2px solid #882e88;
    transform: scale(1.01);
}