.background-st-ac h1{
    color: #793179;
    font-weight:  bold;
}

.background-st-ac .input-group i{
    color: #7a067a;
}

.background-st-ac .input-group i{
    color: #7a067a;
}

.background-st-ac tr{
    color: #6e516e;
}